<a href="https://colab.research.google.com/github/Gaukhar-ai/UoPeople/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 'I love reading books and watching movies. My favorite book is Alchemist.'   'My favorite movie is Gattaka'

In [ ]:
a

'I love reading books and watching movies. My favorite book is Alchemist.My favorite movie is Gattaka'

In [ ]:
def convert(a):
    return ' '.join(a).split()
      
  
# Driver code
a =  ['I love reading books and watching movies. My favorite book is Alchemist.'   'My favorite movie is Gattaka']
print( convert(a))

['I', 'love', 'reading', 'books', 'and', 'watching', 'movies.', 'My', 'favorite', 'book', 'is', 'Alchemist.My', 'favorite', 'movie', 'is', 'Gattaka']

In [ ]:
a = ['I', 'love', 'reading', 'books', 'and', 'watching', 'movies.', 'My', 'favorite', 'book', 'is', 'Alchemist.My', 'favorite', 'movie', 'is', 'Gattaka']

In [ ]:
a = b

In [ ]:
b

'I love reading books and watching movies. My favorite book is Alchemistand My favorite movie is Gattaka'

In [ ]:
a.pop(1)

'love'

In [ ]:
del a[3]
print(a)

['I', 'reading', 'books', 'movies.', 'My', 'favorite', 'book', 'is', 'Alchemist.My', 'favorite', 'movie', 'is', 'Gattaka']

In [ ]:
#3rd method. I'm sure I could do something simpler or find a way to remove it easy. But this is what I could come up with for the 3rd example.
def delete_head(a):
  del a[0]

In [ ]:
a = ['I', 'reading', 'books', 'movies.', 'My', 'favorite', 'book', 'is', 'Alchemist.My', 'favorite', 'movie', 'is', 'Gattaka']
delete_head(a)
print(a)

['reading', 'books', 'movies.', 'My', 'favorite', 'book', 'is', 'Alchemist.My', 'favorite', 'movie', 'is', 'Gattaka']

In [ ]:
# I also tried this method first when I read about split method on a space. But somehow it didn't work out the way I wanted it, when 
#I printed 'a'. The output was as a string still. 
b = a
delimiter = ' '
a.split(delimiter)

['I',
 'love',
 'reading',
 'books',
 'and',
 'watching',
 'movies.',
 'My',
 'favorite',
 'book',
 'is',
 'Alchemistand',
 'My',
 'favorite',
 'movie',
 'is',
 'Gattaka']

In [ ]:
#wow, this option is cool, actually. Never knew it can sort in this way. I mean I knew about 'sort' function but I guess never paid attention to it. 
#looking at it from a new and fresh perspective, lol. 
a.sort()
print(a)

['Alchemist.My', 'Gattaka', 'My', 'book', 'books', 'favorite', 'favorite', 'is', 'is', 'movie', 'movies.', 'reading']

In [ ]:
#Add new words to the list (three or more) using three different kinds of Python operation. 
a.append('also, I like listening to music')

In [ ]:
a
#coooool. very cool. I'm shaking my head literally, saying: "how cool it is"!

['Alchemist.My',
 'Gattaka',
 'My',
 'book',
 'books',
 'favorite',
 'favorite',
 'is',
 'is',
 'movie',
 'movies.',
 'reading',
 'also, I like listening to music']

In [ ]:
#Turn the list of words back into a single string using join. 
#a.join - I tried this first, but it's not that easy and simple, I should add something else:
delimiter = ' '
delimiter.join(a)

'Alchemist.My Gattaka My book books favorite favorite is is movie movies. reading also, I like listening to music'

Wait a minute, why did it output like this, in a sorted manner?! Strange. Can I actually put it back together to the original version?

In [ ]:
delimiter = ' '
delimiter.join(b)
#wow, so what I did is the trick, I went back to the top and made a copy of the original variable a to b. So it will be easier to put it back together. 
#but they look so apart from each other. I'm not sure if its considered as cheating, if it does, please lmk. I'll find some other ways to join it.

'I   l o v e   r e a d i n g   b o o k s   a n d   w a t c h i n g   m o v i e s .   M y   f a v o r i t e   b o o k   i s   A l c h e m i s t a n d   M y   f a v o r i t e   m o v i e   i s   G a t t a k a'

In [ ]:
delimiter = ''
delimiter.join(b)
#now it's better, I put quotes close to each other.

'I love reading books and watching movies. My favorite book is Alchemistand My favorite movie is Gattaka'

In [ ]:
#Print the string. 
b

'I love reading books and watching movies. My favorite book is Alchemistand My favorite movie is Gattaka'

In [ ]:
#Part 2

In [ ]:
#nested lists:
books = ['Lincoln Biography', [1], "I'm also reading Angela Merkel", ['number 1 woman in politics']]

In [ ]:
books

['Lincoln Biography',
 [1],
 "I'm also reading Angela Merkel",
 ['number 1 woman in politics']]

In [ ]:
['I wish I could improve my speed 5 times']*5

['I wish I could improve my speed 5 times',
 'I wish I could improve my speed 5 times',
 'I wish I could improve my speed 5 times',
 'I wish I could improve my speed 5 times',
 'I wish I could improve my speed 5 times']

In [ ]:
#list slices:
#in this example I tried to use negative numbers [-1:-3], since I thought it's going to count from the end, but got only this []
reading = ['I', 'am', 'fine', 'though', 'anyways', 'wanna', 'be', 'better']
reading[5:8]

['wanna', 'be', 'better']

In [ ]:
#wow, this is fantastic! I can't comprehend it all right away, but I'm learning. So much you can do with programming. 
#lists are very powerful, they're also mutable, right. let's just check:
q = [3, 5]
q1  = q + ['seven']
q1

[3, 5, 'seven']

In [ ]:
q[0] = 1

In [ ]:
q

[1, 5]

In [ ]:
#OMG! wow, it worked! So lists are mutable, and it can be so easily done!

In [ ]:
#I didn't quite get the += thing, let me try this one more time:
a = 8
b = 8
a + b
total +=x
#ups, didn't work

NameError: ignored

In [ ]:
q = 3 

q += 2 

print(q) 
#oh my gosh! So crazy! how is it even possible, this is crazy! So q = 3, and q = 2, and to find q there's a + sign. It says add them then output the answer?!
#blows me away. I could show off my programming skills by typing this simple addition that looks super confusing, haha.

5

In [ ]:
def only_lower(m):
  res = []
  for i in m:
    if i.isupper():
      res.append(i)
  return res

In [ ]:
only_lower('Mamatai, Keldim')

['M', 'K']

In [ ]:
#ah I see, I thought it's gonna hold on to lower cases, so vise versa, it's taking out Upper cases. Interesting. 
#I gotta work on it more to understand the concept and apply it practically.

In [ ]:
def delete_head(b):
  b = b[1:]
#so it executes, but I guess the function doesn't work right. Let me see though..
b

8

In [ ]:
#Hm.. doesn't make sence, so I guess it's wrong, since I had to get the string or a list, right. I'll work on it more.